<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>   
    <target xsi:type="LogReceiverService"
          name="LogService"
          endpointAddress="net.tcp://localhost:5001/log"
          endpointConfigurationName="NetTcpBinding_ILogReceiverServer"
          useBinaryEncoding="True"
          clientId=""
          includeEventProperties="True"/>
    </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="LogService" />
  </rules>
</nlog>