<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true"
      throwExceptions="true"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--<targets>
    <target xsi:type="File"
           name="fileLog"
           fileName="logFile.log"
           layout="${longdate} ${callsite} ${level} ${message}"
            />

    <target name="Console" xsi:type="Console"  layout="${longdate} ${callsite} ${level} ${message}"/>

  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="Console" />
    <logger name="*" minlevel="Debug" writeTo="fileLog" />
  </rules>-->
</nlog>